.header {
    height: inherit;
    // height: 250px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.round-img {
    height: inherit;
    width: 100%;
}

.round-cont {
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.round-cont img {
    width: 100%;
    position: absolute;
}

.social-links {
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.media-logo {
    height: 70px;
    width: 70px;
    margin: 10px;
    border-radius: 50%;
}

.menu {
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    margin-bottom: 20px;
}

.menu-button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.menu-button p {
    font-size: 100%;
    color: white;
    font-weight: bold;
}

.info {
    height: 50px;
    width: 50px;
    border-radius: 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    animation: showInfoBar 2s alternate;
    animation-fill-mode: forwards;   
}

.info p {
    visibility: hidden;
    animation: showInfoText 1s;
    animation-delay: 2.5s;
    margin-left: 10px;
    font-weight: bold;
    animation-fill-mode: forwards;
}

@keyframes showInfoText {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes showInfoBar {
    0% {
        width: 0px;
    }

    100% {
        width: 250px;
    }
}


@media screen and (min-width: 1px) and (max-width: 600px) {

    .menu-button p {
        font-size: 80%;
        color: white;
        font-weight: bold;
    }

    .info {
        display: none;
    }
    
}

@media screen and (min-width: 1px) and (max-width: 450px) {

    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }

    .menu-button {
        width: 120px;
        height: 35px;
        margin: 5px;
    }

    .media-logo {
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 50%;
    }


    .round-cont {
        height: 90px;
        width: 90px;
    }

}