<div class="header bg-main-semi">

    <!-- photo -->
    <div class="round-img">
        <div class="round-cont">
            <img src="assets/imgs/pp.png" />
        </div>
    </div>

    <!-- title name -->
    <div class="title">
        <h2>Fallou SEYE</h2>
    </div>

    <!-- links
    <div class="social-links">
        <div class="media-logo">
            <a href=""><img style="height: 80%" src="assets/imgs/icons/git.png"/></a>
        </div>

        <div class="media-logo">
            <a href=""><img style="height: 80%" src="assets/imgs/icons/linkedin.png"/></a>
        </div>
    </div> -->

    <div class="menu">
        <div class="menu-button bg-main-strong">
            <a href=""><p>Le F.</p></a>
        </div>
        <div class="menu-button bg-main-strong">
            <a href=""><p>Ecole.</p></a>
        </div>
        <div class="menu-button bg-main-strong">
            <a href=""><p>Pro.</p></a>
        </div>
        <div class="menu-button bg-main-strong">
            <a href=""><p>Perso.</p></a>
        </div>
        <div class="menu-button bg-main-strong">
            <a href=""><p>Stack.</p></a>
        </div>
    </div>

</div>