<div class="container bg-main-light">

  <app-header></app-header>

  <div class="content bg-main-light">
    <router-outlet></router-outlet>
  </div>

  <div class="fixed-zone fz-bottom-left">
    <a (click)="switchLanguage('fr')" href="#"><img class="fz-asset" src="assets/imgs/countries/fr_icon_128148.png" /></a>
    <a (click)="switchLanguage('en')" href="#"><img class="fz-asset br" src="assets/imgs/countries/britain.png" /></a>
  </div>

  <div class="fixed-zone fz-bottom-right">
    <a target="_blank" href="https://github.com/fallouiut?tab=repositories"><i class="fa fa-github fz-ic"></i></a>
    <a target="_blank" href="https://fr.linkedin.com/in/fallou-seye-893bb0165"><i class="fa fa-linkedin fz-ic"></i></a>
    
  </div>

</div>