<div class="pres-grid">

    <div class="card c1">
        <h1 class="font-main-strong">{{ presentation.age }}</h1>
    </div>
    
    <div class="card c2">
        <h2 class="font-main-strong">{{ presentation.forLiving }}</h2>
    </div>

    <div class="card c3">
        <!-- <h3 class="font-main-strong">Nationalité</h3> -->
        <div class="flags">
            <img src="assets/imgs/countries/fr_icon_128148.png" />
            <img src="assets/imgs/countries/sn_icon_128012.png" />
        </div>
    </div>

    <div class="card c4">
        <a href=""><i class="fa fa-building fa-3x fz-ic"></i></a>
        <h2 class="font-main-strong">{{ presentation.location }}</h2>
    </div>
    <div class="card c5">
        <a href=""><i class="fa fa-car fa-3x fz-ic"></i></a>
        <h2 class="font-main-strong">{{ presentation.driveLicense }}</h2>
    </div>
    <div class="card c6">
        <a href=""><i class="fa fa-envelope fa-3x fz-ic"></i></a>
        <h3 class="font-main-strong">{{ mail }}</h3>
    </div>
</div>